/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilos para a navbar */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    background-color: white;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    padding: 0 30px;
}

/* Estilos para a logo */
.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 20px;
}

.logo-img {
    height: 70px;
    width: auto;
}

/* Estilos para o menu */
.menu {
    flex: 70%;
    text-align: right;
    padding: 20px;
}

.menu a {
    color: #125B9A;
    text-decoration: none;
    font-size: 32px;
    padding: 20px 16px;
    margin: 0 30px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

/* Hover para os links do menu */
.menu a:hover {
    background-color: #125B9A;
    color: white;
    border-radius: 5px;
}

main {
    background-size: cover;
    height: 92vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    padding: 10px;
    margin-top: 100px; /* Adiciona espaço para a navbar fixa */
}

/* Ajustando a área do login */
.login-area {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60vh; /* Ajuste a altura para uma maior flexibilidade */
    width: 80%; /* Reduza a largura para não ficar muito grande */
    max-width: 500px; /* Limita a largura máxima */
    flex-direction: column;
    margin: 0 auto; /* Alinha o conteúdo horizontalmente */
}

/* Estilos para o formulário de login */
.login-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 100%;
}

.input-group input {
    width: 100%;
    padding: 15px 20px;
    border: none;
    border-radius: 25px;
    background: rgba(255, 255, 255, 0.8);
    font-size: 16px;
    color: #333;
    outline: none;
}

/* Estilos para o botão de login */
.btn-submit {
    margin-top: 20px;
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 25px;
    background: #d3d3d3;
    color: #ffffff;
    font-weight: bold;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn-submit:hover {
    background: rgba(255, 255, 255, 0.9);
}

.options {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    color: #fff;
    width: 100%;
}

.options input[type="checkbox"] {
    margin-right: 5px;
}

.options .forgot-password {
    text-decoration: none;
    color: #fff;
}

.options .forgot-password:hover {
    text-decoration: underline;
}

.social-login {
    display: flex;
    justify-content: space-around;
    gap: 10px;
    margin-top: 20px;
}

.btn-social {
    width: 48%;
    padding: 12px;
    border-radius: 25px;
    font-weight: bold;
    text-align: center;
    cursor: pointer;
}

.btn-social.gmail {
    background: #b6b4b4;
    color: #ffffff;
}

.btn-social.facebook {
    background: #3b5998;
    color: white;
}

/* Novo estilo para o botão de cadastro */
.btn-register {
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 25px;
    background: gray;
    color: white;
    font-weight: bold;
    font-size: 16px;
    cursor: pointer;
    margin-top: 20px; /* Aumenta a margem superior para separar mais do conteúdo */
    transition: background-color 0.3s ease;
}

.btn-register:hover {
    background: #4b4b4b; /* Cor um pouco mais escura para o hover */
}
